@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: auto;
}

html {
  font-family: 'Inter', sans-serif;
}